

*{
    margin: 0;
    padding: 0;
    box-sizing: broder-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(https://static.giga.de/wp-content/uploads/2014/09/team_graves_2.jpg);
    background-size: cover;
}
 header
{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .logo{
    position: static;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 150px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition:0.6s;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
form {
    text-align: center;
}